**/.DS_Store
**/states
**/*.out
**/*.dot
**/*.old
**/.vscode
**/*.toolbox/model
**/*.toolbox/*aux
**/*.toolbox/*.log
**/*.toolbox/*.pdf
**/*.toolbox/*.tex
**/*.toolbox/*.launch
**/*.toolbox/**/*.tla
**/*.toolbox/**/*.out
**/*.toolbox/**/MC.cfg
**/*.pdf
**/*.old
**/*~
cluster/isabelle/output